/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
   line-height: 1.15; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
 }
 
 /* Sections
    ========================================================================== */
 
 /**
  * Remove the margin in all browsers.
  */
 
 body {
   margin: 0;
 }
 
 /**
  * Render the `main` element consistently in IE.
  */
 
 main {
   display: block;
 }
 
 /**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */
 
 h1 {
   font-size: 2em;
   margin: 0.67em 0;
 }
 
 /* Grouping content
    ========================================================================== */
 
 /**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */
 
 hr {
   box-sizing: content-box; /* 1 */
   height: 0; /* 1 */
   overflow: visible; /* 2 */
 }
 
 /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
 
 pre {
   font-family: monospace, monospace; /* 1 */
   font-size: 1em; /* 2 */
 }
 
 /* Text-level semantics
    ========================================================================== */
 
 /**
  * Remove the gray background on active links in IE 10.
  */
 
 a {
   background-color: transparent;
 }
 
 /**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */
 
 abbr[title] {
   border-bottom: none; /* 1 */
   text-decoration: underline; /* 2 */
   text-decoration: underline dotted; /* 2 */
 }
 
 /**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
 
 b,
 strong {
   font-weight: bolder;
 }
 
 /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
 
 code,
 kbd,
 samp {
   font-family: monospace, monospace; /* 1 */
   font-size: 1em; /* 2 */
 }
 
 /**
  * Add the correct font size in all browsers.
  */
 
 small {
   font-size: 80%;
 }
 
 /**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */
 
 sub,
 sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
 }
 
 sub {
   bottom: -0.25em;
 }
 
 sup {
   top: -0.5em;
 }
 
 /* Embedded content
    ========================================================================== */
 
 /**
  * Remove the border on images inside links in IE 10.
  */
 
 img {
   border-style: none;
 }
 
 /* Forms
    ========================================================================== */
 
 /**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */
 
 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }
 
 /**
  * Remove the inner border and padding in Firefox.
  */
 
 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
 }
 
 /**
  * Restore the focus styles unset by the previous rule.
  */
 
 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
   outline: 1px dotted ButtonText;
 }
 
 /**
  * Correct the padding in Firefox.
  */
 
 fieldset {
   padding: 0.35em 0.75em 0.625em;
 }
 
 /**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
 
 legend {
   box-sizing: border-box; /* 1 */
   color: inherit; /* 2 */
   display: table; /* 1 */
   max-width: 100%; /* 1 */
   padding: 0; /* 3 */
   white-space: normal; /* 1 */
 }
 
 /**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
 
 progress {
   vertical-align: baseline;
 }
 
 /**
  * Remove the default vertical scrollbar in IE 10+.
  */
 
 textarea {
   overflow: auto;
 }
 
 /**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */
 
 [type="checkbox"],
 [type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
 }
 
 /**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
 
 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
   height: auto;
 }
 
 /**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
 
 [type="search"] {
   -webkit-appearance: textfield; /* 1 */
   outline-offset: -2px; /* 2 */
 }
 
 /**
  * Remove the inner padding in Chrome and Safari on macOS.
  */
 
 [type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
 }
 
 /**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
 
 ::-webkit-file-upload-button {
   -webkit-appearance: button; /* 1 */
   font: inherit; /* 2 */
 }
 
 /* Interactive
    ========================================================================== */
 
 /*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */
 
 details {
   display: block;
 }
 
 /*
  * Add the correct display in all browsers.
  */
 
 summary {
   display: list-item;
 }
 
 /* Misc
    ========================================================================== */
 
 /**
  * Add the correct display in IE 10+.
  */
 
 template {
   display: none;
 }
 
 /**
  * Add the correct display in IE 10.
  */
 
 [hidden] {
   display: none;
 }


 #menu__toggle{
   display: none;
}
body {
    width: 1280px;
    margin: auto;
     }
.wrapper {
      max-width: 1200px;
      margin: 0% auto 0%;
      height: 100%;
      }
div{
   display: block;
}
header{
    background: #FFFFFF;
    height: 120px;
} 
header>div.wrapper{
   display: grid;
   grid-template-columns:auto auto;
     } 
a{
   text-decoration: none;
   color:  #545454;
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 160%;
  
}
.active{
   border-bottom:4px solid  #F1CDB3;
   cursor: pointer;
   color: #292929;

}
a:hover{
   border-bottom: 4px solid #F1CDB3;
   cursor: pointer;
}

h1{
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   line-height: 35px; 
   letter-spacing: 0.06em;

   color: #545454;
   
   margin-bottom: 0;
  }
.name-logo{
   margin-top: 2%;
}
.name-logo > p {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
   letter-spacing: 0.1em;

   color: #292929;

   margin-top: 10px;
   margin-left: 5px;
}
ul{
   display: inline-flex;
}
.nav-menu{
    margin-top: 4%;
    display: flex;
    flex-flow: row ;
    justify-content:flex-end ;
    align-content: center; 
 }
 .nav-items{
      display: flexbox;
      margin: auto;
      white-space:nowrap;
      }

div.pets{
  background: #F6F6F6; 
  height: 1342px;
}
div.slide{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content:space-around;
    padding-top: 2.7%;
    }
.item{
    background-color: #FAFAFA;
    display: block;
    border-radius: 9px;
    text-align:center;
    width: 270px;
    height: 435px; 
    margin-bottom: 2.5%;
     }
.pet-name{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 10% auto;
 }
div.text-h2>h2{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
 
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em ;
 
    color: #545454;
       
 }
.text-h2{
      padding-top:4.1%;
}
 div.item:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
 }
 .btn{
    width: 207px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-top: 28px;
    }
 .btn:hover{
    background-color: #FDDCC4;
    border: none;  
    cursor: pointer;
 }

 .btn-secondary{
   margin-top: 2%;
   width: 70%;
}
.slide-nav{
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-content:space-around;
    
}
.slide-nav-iteam , .nav-number{
   border: 2px solid #F1CDB3;
   box-sizing: border-box;
   border-radius: 100px;

   width: 52px;
   height: 52px;
   display: block;
   margin:2.5% 0.81% auto;
   text-align:center;
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;

   color: #292929;
   
}
.nav-number{
   background: #F1CDB3;
   border:none;
   padding: 1.2%;
}
button:disabled{
   border-color:#CDCDCD;
   color: #CDCDCD;
}
button.slide-nav-iteam:not(:disabled):hover{
background-color: #F1CDB3;
cursor: pointer;
}
 .footer>.wrapper{
   display: grid;
   grid-template-columns: 36.5% auto 25%;
   }
 .footer-span{
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 115%;
   padding-left: 5%;
   margin-top: auto;
   margin-bottom: auto;
   letter-spacing: 0.06em;
   color: #F1CDB3;
   }
   a.a-footer:hover{
      border:none;
   }
   footer>div.wrapper>div{
      margin-top: 5%;
   }
   footer>div.wrapper>img{
      margin-top: 12%;
   }
   .a-footer{
      display: flex;
      width: 70%;
      }
   .footer-span{
   margin-left: 1.2%;
   }
   div.place>a{
      margin-top:-0.6%;
      margin-bottom: 8%;
   }
   div.contacts>a{
      margin-top:9.5%;
      margin-bottom: 8%;
   }
   h3{
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      line-height: 130%;
      width: 64%;
      letter-spacing: 0.06em;
      color: #FFFFFF;
      }
  .footer{
         height: 355px;
         background:radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
         }

  @media (max-width:1279px){
    body {
      width: 768px;
      margin: auto;
       }
  .wrapper {
        max-width: 708px;
        margin: 0% auto 0%;
        height: 100%;
        }
  div{
     display: block;
  }
  header{
      background: #FFFFFF;
      height: 120px;
  } 
  header>div.wrapper{
     display: grid;
     grid-template-columns:auto auto;
       } 
  a{
     text-decoration: none;
     color:  #545454;
     font-family: Arial;
     font-style: normal;
     font-weight: normal;
     font-size: 15px;
     line-height: 160%;
    
  }
  .active{
     border-bottom:4px solid  #F1CDB3;
     cursor: pointer;
     color: #292929;
  
  }
  a:hover{
     border-bottom: 4px solid #F1CDB3;
     cursor: pointer;
  }
  h1{
     font-family: Georgia;
     font-style: normal;
     font-weight: normal;
     font-size: 32px;
     line-height: 35px; 
     letter-spacing: 0.06em;
  
     color: #545454;
     width: 110%;
     margin-bottom: 0;
    }
  .name-logo{
     margin-top: 5%;
  }
  .name-logo > p {
     font-family: Arial;
     font-style: normal;
     font-weight: normal;
     font-size: 13px;
     line-height: 15px;
     letter-spacing: 0.1em;
  
     color: #292929;
     width: 110%;
     margin-top: 10px;
     margin-left: 5px;
  }
  ul{
     display: inline-flex;
  }
  .nav-menu{
      /* margin-top: 4%;  */
      display: flex;
      flex-flow: row ;
      justify-content:flex-end ;
      align-content: center; 
   }
   .nav-items{
        display: flexbox;
        margin: auto;
        white-space:nowrap;
        }
  
  div.pets{
    background: #F6F6F6; 
    height: 1733px;
  }
  div.slide{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content:space-between;
      height: 1389px;
      padding-top: 0%;
      overflow: hidden;;
      }
  .item{
      background-color: #FAFAFA;
      display: block;
      border-radius: 9px;
      text-align:center;
      width: 270px;
      height: 435px; 
      margin: 0 3% 4.3% 3%;
       }
  .pet-name{
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
      margin: 10% auto;
   }
  div.text-h2>h2{
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      line-height: 130%;
   
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em ;
   
      color: #545454;
         
   }
  .text-h2{
        padding-top:7.3%;
  }
   div.item:hover{
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
   }
   .btn{
      width: 207px;
      height: 52px;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #292929;
      margin-top: 28px;
      }
   .btn:hover{
      background-color: #FDDCC4;
      border: none;  
      cursor: pointer;
   }
   .btn-secondary{
     margin-top: 2%;
     width: 70%;
  }
  .slide-nav{
      display: flex;
      flex-flow: row nowrap;
  
      justify-content: center;
      align-content:space-around;
      
  }
  .slide-nav-iteam , .nav-number{
     border: 2px solid #F1CDB3;
     box-sizing: border-box;
     border-radius: 100px;
  
     width: 52px;
     height: 52px;
     display: block;
     margin:2.5% 1.5% auto;
     text-align:center;
     font-family: Georgia;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 115%;
     letter-spacing: 0.06em;
  
     color: #292929;
     
  }
  .nav-number{
     background: #F1CDB3;
     border:none;
     padding: 1.5%;
  }
  button:disabled{
     border-color:#CDCDCD;
     color: #CDCDCD;
  }
  button.slide-nav-iteam:not(:disabled):hover{
  background-color: #F1CDB3;
  cursor: pointer;
  }

  .footer>.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-content: space-around;
    height: 100%;
     }
   h3{
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 35px;
   line-height: 130%;
   width: 100%;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   }
   .footer-span{
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 115%;
   padding-left: 6%;
   margin-top: auto;
   margin-bottom: auto;
   letter-spacing: 0.06em;
   color: #F1CDB3;
   }
   a.a-footer:hover{
      border:none;
   }
   footer>div.wrapper>div{
     width: 300px;
     margin-top: 0.5%;
     }
   div.place>a{
      margin-top:-0.6%;
      margin-bottom: 12%;
   }
   div.contacts>a{
      margin-top:15%;
      margin-bottom: -2%;
   }
   div.contacts{
    margin-left:-0.5%;
   }
   div.place{
      margin-left: -4.5%;
   }
    footer>div.wrapper>img{
      margin-top: 4%;
   }
   .footer{
    height: 639px;
    background:  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    .a-footer{
      width: 100%;
    }
  }
  
  @media (max-width:767px){
   body {
      width: 320px;
      margin: auto;
       }
  .wrapper {
        max-width: 300px;
        margin: 0% auto 0%;
        height: 100%;
        
        }
  div{
     display: block;
  }
  header{
      background: #FFFFFF;
      height: 120px;
  } 
  header>div.wrapper{
     display: grid;
     grid-template-columns:auto auto;
       } 
  a{
     text-decoration: none;
     color:#CDCDCD;
     font-family: Arial;
     font-style: normal;
     font-weight: normal;
     font-size: 15px;
     line-height: 160%;
    
  }
  .active{
     border-bottom:4px solid  #F1CDB3;
     cursor: pointer;
     color:#FAFAFA;
  
  }
  a:hover{
     border-bottom: 4px solid #F1CDB3;
     cursor: pointer;
     color:#FAFAFA;
  }
  h1{
     font-family: Georgia;
     font-style: normal;
     font-weight: normal;
     font-size: 32px;
     line-height: 35px; 
     letter-spacing: 0.06em;
  
     color: #545454;
     width: 110%;
     margin-bottom: 0;
    }
  .name-logo{
     margin-top: 5%;
     width: 184px;
  }
  .name-logo > p {
     font-family: Arial;
     font-style: normal;
     font-weight: normal;
     font-size: 13px;
     line-height: 15px;
     letter-spacing: 0.1em;
  
     color: #292929;
     width: 100%;
     margin-top: 10px;
     margin-left: 5px;
  }

  
  div.pets{
    background: #F6F6F6; 
    height: 1649px;
  }
  div.slide{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content:space-between;
      padding-top: 0%;
      overflow: hidden;;
      }
  .item{
      background-color: #FAFAFA;
      display: block;
      border-radius: 9px;
      text-align:center;
      width: 270px;
      height: 435px; 
      margin: 0% 3% 10% 3%;
       }
  .pet-name{
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
      margin: 10% auto;
   }
  div.text-h2>h2{
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 130%;
   
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em ;
   
      color: #545454;
         
   }
  .text-h2{
        padding-top:7.3%;
        margin-bottom: 14%;
  }
   div.item:hover{
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
   }
   .btn{
      width: 207px;
      height: 52px;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #292929;
      margin-top: 28px;
      }
   .btn:hover{
      background-color: #FDDCC4;
      border: none;  
      cursor: pointer;
   }
   .btn-secondary{
     margin-top: 2%;
     width: 70%;
  }
  .slide-nav{
      display: flex;
      flex-flow: row nowrap;
  
      justify-content: center;
      align-content:space-around;
      
  }
  .slide-nav-iteam , .nav-number{
     border: 2px solid #F1CDB3;
     box-sizing: border-box;
     border-radius: 100px;
  
     width: 52px;
     height: 52px;
     display: block;
     margin:5.5% 1.5% auto;
     text-align:center;
     font-family: Georgia;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 115%;
     letter-spacing: 0.06em;
  
     color: #292929;
     
  }
  .nav-number{
     background: #F1CDB3;
     border:none;
     padding: 4.5%;
  }
  button:disabled{
     border-color:#CDCDCD;
     color: #CDCDCD;
  }
  button.slide-nav-iteam:not(:disabled):hover{
  background-color: #F1CDB3;
  cursor: pointer;
  }


  .footer>.wrapper{
   display: flex;
   flex-flow: row wrap;
   justify-content:space-around;
   align-content: space-around;
   height: 100%;
    }
  h3{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;
  width: 90%;
  margin: auto;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  }
  .footer-span{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  padding-left: 6%;
  margin-top: auto;
  margin-bottom: auto;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  }
  a.a-footer:hover{
     border:none;
  }
  footer>div.wrapper>div{
    width: 100%;
    margin-top: 0.5%;
    }
  div.place>a{
     margin-top:35px;
     margin-bottom: auto;
  }
  div.contacts>a{
     margin-top:15%;
     margin-left: 25px;
     margin-bottom: -2%;
  }
  div.contacts{
   margin-left:auto;
  }
  div.place{
     margin-left: auto;
  }
   footer>div.wrapper>img{
     margin-top: auto;
     margin-bottom: -8%;
     width: 85%;

  }
  .footer{
   height: 809px;
   background:  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
   margin: 0;
   padding: 0;
   overflow: hidden;
   }
   .a-footer{
     width: 100%;
   }

   ul{
      display: flex;
      flex-flow: column wrap; 
      margin:100px auto 20px;
      padding: 0;
      justify-content: space-around;
    }
    ol{
       display: flexbox;
       padding: 0;
    }
   #menu__toggle {
      opacity: 0;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .nav-menu {
      visibility: visible;
      right: 0;
    }
    
    .menu__btn {
      display: flex;
      align-items: center;
      position: relative;
      margin-top:40px ;
      width: 40px;
      height: 30px;
      cursor: pointer;
      z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
     
      width: 100%;
      height: 3.5px;
    
      background-color: #000000;
    
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -12px;
    }
    .menu__btn > span::after {
      content: '';
      top: 11px;
    }
    .nav-menu {
      position: fixed;
      visibility: hidden;
      top: 0;
      right: -100%;
    
      width: 320px;
      height: 100%;
    
      margin: 0;
      padding: 0;
    
      list-style: none;
    
      background-color:  #292929;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
      transition-duration: .25s;
    }
    
    .nav-items {
      display: flex;
      font-size: 20px;
      font-weight: 600;
      transition-duration: .25s;
    }
  }