@import 'shadow.css';
@import 'popbox.css';

#menu__toggle{
   display: none;
}
body {
    width: 100%;
    margin: auto;
     }
.wrapper {
      max-width: 1200px;
      margin: 0% auto 0%;
      height: 100%;
      }
div{
   display: block;
}
header{
    background: #FFFFFF;
    height: 120px;
}
header>div.wrapper{
   display: grid;
   grid-template-columns:auto auto;
     }
a{
   text-decoration: none;
   color:  #545454;
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 160%;
}
.active{
   border-bottom:4px solid  #F1CDB3;
   cursor: pointer;
   color: #292929;

}
a:hover{
   border-bottom: 4px solid #F1CDB3;
   cursor: pointer;
}

h1{
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   line-height: 35px;
   letter-spacing: 0.06em;
   color: #545454;
   margin-bottom: 0;
  }
.name-logo{
   margin-top: 2%;
}
.name-logo:hover{
   border:none;
}
.name-logo > p {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
   letter-spacing: 0.1em;

   color: #292929;

   margin-top: 10px;
   margin-left: 5px;
}
ul{
   display: inline-flex;
}
.nav-menu{
    margin-top: 4%;
    display: flex;
    flex-flow: row ;
    justify-content:flex-end ;
    align-content: center;
 }
 .nav-items{
      display: flexbox;
      margin: auto;
      white-space:nowrap;
      }

div.pets{
  background: #F6F6F6;
  height: 1342px;
}
div.slide{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content:space-around;
    padding-top: 2.7%;
    }
.item{
    background-color: #FAFAFA;
    display: block;
    border-radius: 9px;
    text-align:center;
    width: 270px;
    height: 435px;
    margin-bottom: 2.5%;
     }
.pet-name{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 10% auto;
 }
div.text-h2>h2{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em ;
    color: #545454;
 }
.text-h2{
      padding-top:4.1%;
}
 div.item:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
 }
 .btn{
    width: 207px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-top: 28px;
    }
 .btn:hover{
    background-color: #FDDCC4;
    border: none;
    cursor: pointer;
 }

 .btn-secondary{
   margin-top: 2%;
   width: 70%;
}
.slide-nav{
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-content:space-around;
}
.slide-nav-iteam , .nav-number{
   border: 2px solid #F1CDB3;
   box-sizing: border-box;
   border-radius: 100px;
   width: 52px;
   height: 52px;
   display: block;
   margin:2.5% 0.81% auto;
   text-align:center;
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;
   color: #292929;
}
.nav-number{
   background: #F1CDB3;
   border:none;
   padding: 1.2%;
}
button:disabled{
   border-color:#CDCDCD;
   color: #CDCDCD;
}
button.slide-nav-iteam:not(:disabled):hover{
background-color: #F1CDB3;
cursor: pointer;
}
 .footer>.wrapper{
   display: grid;
   grid-template-columns: 36.5% auto 25%;
   }
 .footer-span{
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 115%;
   padding-left: 5%;
   margin-top: auto;
   margin-bottom: auto;
   letter-spacing: 0.06em;
   color: #F1CDB3;
   }
   a.a-footer:hover{
      border:none;
   }
   footer>div.wrapper>div{
      margin-top: 5%;
   }
   footer>div.wrapper>img{
      margin-top: 12%;
   }
   .a-footer{
      display: flex;
      width: 70%;
      }
   .footer-span{
   margin-left: 1.2%;
   }
   div.place>a{
      margin-top:-0.6%;
      margin-bottom: 8%;
   }
   div.contacts>a{
      margin-top:9.5%;
      margin-bottom: 8%;
   }
   h3{
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      line-height: 130%;
      width: 64%;
      letter-spacing: 0.06em;
      color: #FFFFFF;
      }
  .footer{
         height: 355px;
         background:radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
         }

  @media (max-width:1279px){
  .wrapper {
        max-width: 708px;
        margin: 0% auto 0%;
        height: 100%;
        }
  header{
      background: #FFFFFF;
      height: 120px;
  }
  header>div.wrapper{
     display: grid;
     grid-template-columns:auto auto;
       }
  a{
     font-size: 15px;
     line-height: 160%;
  }
 h1{
     font-size: 32px;
     line-height: 35px;
     letter-spacing: 0.06em;
     width: 110%;
     margin-bottom: 0;
    }
  .name-logo{
     margin-top: 5%;
  }
  .name-logo > p {
     font-size: 13px;
     line-height: 15px;
     letter-spacing: 0.1em;
     margin-top: 10px;
     margin-left: 5px;
  }
  ul{
     display: inline-flex;
  }
  .nav-menu{
      /* margin-top: 4%;  */
      display: flex;
      flex-flow: row ;
      justify-content:flex-end ;
      align-content: center;
   }
   .nav-items{
        display: flexbox;
        margin: auto;
        white-space:nowrap;
        }
  div.pets{
    height: 1733px;
  }
  div.slide{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content:space-between;
      height: 1389px;
      padding-top: 0%;
      overflow: hidden;;
      }
  .item{
      display: block;
      border-radius: 9px;
      text-align:center;
      width: 270px;
      height: 435px;
      margin: 0 3% 4.3% 3%;
       }
  .pet-name{
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      margin: 10% auto;
   }
  div.text-h2>h2{
      font-size: 35px;
      line-height: 130%;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em ;
      color: #545454;
   }
  .text-h2{
        padding-top:7.3%;
  }
   div.item:hover{
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
   }
   .btn{
      width: 207px;
      height: 52px;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: 0.06em;
      margin-top: 28px;
      }
   .btn-secondary{
     margin-top: 2%;
     width: 70%;
  }
  .slide-nav{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-content:space-around;
  }
  .slide-nav-iteam , .nav-number{
     box-sizing: border-box;
     border-radius: 100px;
     width: 52px;
     height: 52px;
     display: block;
     margin:2.5% 1.5% auto;
     text-align:center;
     font-size: 20px;
  }
  .nav-number{
     padding: 1.5%;
  }
  .footer>.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-content: space-around;
    height: 100%;
     }
   h3{
   font-size: 35px;
   line-height: 130%;
   width: 100%;
   }
   .footer-span{
   font-size: 20px;
   line-height: 115%;
   padding-left: 6%;
   margin-top: auto;
   margin-bottom: auto;
  }
   a.a-footer:hover{
      border:none;
   }
   footer>div.wrapper>div{
     width: 300px;
     margin-top: 0.5%;
     }
   div.place>a{
      margin-top:-0.6%;
      margin-bottom: 12%;
   }
   div.contacts>a{
      margin-top:15%;
      margin-bottom: -2%;
   }
   div.contacts{
    margin-left:-0.5%;
   }
   div.place{
      margin-left: -4.5%;
   }
    footer>div.wrapper>img{
      margin-top: 4%;
   }
   .footer{
    height: 639px;
     margin: 0;
    padding: 0;
    overflow: hidden;
    }
    .a-footer{
      width: 100%;
    }
  }

  @media (max-width:767px){
  .wrapper {
        max-width: 300px;
        margin: 0% auto 0%;
        height: 100%;
        }
  div{
     display: block;
  }
  header{
      background: #FFFFFF;
      height: 120px;
  }
  header>div.wrapper{
     display: grid;
     grid-template-columns:auto auto;
       }
  h1{
     font-size: 32px;
     line-height: 35px;
     width: 110%;
     margin-bottom: 0;
    }
  .name-logo{
     margin-top: 5%;
     width: 184px;
  }
  .name-logo > p {
     font-size: 13px;
     line-height: 15px;
     width: 100%;
     margin-top: 10px;
     margin-left: 5px;
  }

  div.pets{
    background: #F6F6F6;
    height: 1649px;
  }
  div.slide{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content:space-between;
      padding-top: 0%;
      overflow: hidden;;
      }
  .item{
      display: block;
      border-radius: 9px;
      text-align:center;
      width: 270px;
      height: 435px;
      margin: 0% 3% 10% 3%;
       }
  .pet-name{
      font-size: 20px;
      line-height: 23px;
      text-align: center;
       margin: 10% auto;
   }
  div.text-h2>h2{
      font-size: 25px;
      align-items: center;
      text-align: center;
   }
  .text-h2{
        padding-top:7.3%;
        margin-bottom: 14%;
  }

   .btn{
      width: 207px;
      height: 52px;
      font-size: 17px;
      margin-top: 28px;
      }
   .btn-secondary{
     margin-top: 2%;
     width: 70%;
  }
  .slide-nav{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-content:space-around;
  }
  .slide-nav-iteam , .nav-number{
     box-sizing: border-box;
     border-radius: 100px;
     width: 52px;
     height: 52px;
     display: block;
     margin:5.5% 1.5% auto;
     font-size: 20px;
     line-height: 115%;
     letter-spacing: 0.06em;
  }
  .nav-number{
     padding: 4.5%;
  }
  .footer>.wrapper{
   display: flex;
   flex-flow: row wrap;
   justify-content:space-around;
   align-content: space-around;
   height: 100%;
    }
  h3{
  font-size: 25px;
  line-height: 130%;
  width: 90%;
  margin: auto;
  text-align: center;
  }
  .footer-span{
  font-size: 20px;
  line-height: 115%;
  padding-left: 6%;
  margin-top: auto;
  margin-bottom: auto;
  }
  a.a-footer:hover{
     border:none;
  }
  footer>div.wrapper>div{
    width: 100%;
    margin-top: 0.5%;
    }
  div.place>a{
     margin-top:35px;
     margin-bottom: auto;
  }
  div.contacts>a{
     margin-top:15%;
     margin-left: 25px;
     margin-bottom: -2%;
  }
  div.contacts{
   margin-left:auto;
  }
  div.place{
     margin-left: auto;
  }
   footer>div.wrapper>img{
     margin-top: auto;
     margin-bottom: -8%;
     width: 85%;
  }
  .footer{
   height: 809px;
   margin: 0;
   padding: 0;
   overflow: hidden;
   }
   .a-footer{
     width: 100%;
   }

   ul{
      display: flex;
      flex-flow: column wrap;
      margin:100px auto 20px;
      padding: 0;
      justify-content: space-around;
    }
    ol{
       display: flexbox;
       padding: 0;
    }
   #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .nav-menu {
      visibility: visible;
      right: 0;
    }
    .menu__btn {
      display: flex;
      align-items: center;
      position: relative;
      margin-top:40px ;
      width: 40px;
      height: 30px;
      cursor: pointer;
      z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3.5px;
      background-color: #000000;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -12px;
    }
    .menu__btn > span::after {
      content: '';
      top: 11px;
    }
    .nav-menu {
      position: fixed;
      visibility: hidden;
      top: 0;
      right: -100%;
      width: 320px;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color:  #292929;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      transition-duration: .25s;
    }
    .nav-items {
      display: flex;
      font-size: 20px;
      font-weight: 600;
      transition-duration: .25s;
    }
  }