.popBox{
  height: 552px;
  width: 952px;
  position: fixed;
  top: 100px;
  margin:auto;
  left:0;
  right:0;
}
.cross{
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius:100%;
  display: flex;
  justify-content: center;
  margin-left: 890px;
 }
.popMain{
  height: 500px;
  width: 900px;
  border-radius: 9px;
  background: #FAFAFA;
}
@media (max-width: 1279px){
.popBox{
height: 402px;
width: 682px;
}
.popMain{
height: 350px;
width: 630px;
}
.cross{
margin-left: 630px;
}
}
@media (max-width: 767px){
  .popBox{
    height: 393px;
    width: 270px;
  }
  .popMain{
    height: 341px;
    width: 240px;
  }
  .cross{
  margin-left: 218px;
  }
  }