body {
    width: 1280px;
    margin:0px ;
    margin: auto;
     }
.wrapper {
      max-width: 1200px;
      height: 100%;
      margin: 0 auto 0;
      }
a{
   text-decoration: none;
   color: #CDCDCD ;
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 160%;
  
}
.active{
   border-bottom:4px solid #F1CDB3;
   cursor: pointer;
}
a:hover{
   border-bottom: 4px solid #F1CDB3;
   cursor: pointer;
}
h1{
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   line-height: 35px; 
   letter-spacing: 0.06em;

   color:#F1CDB3;
   
   margin-bottom: 0;
  }
.name-logo > p {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
   letter-spacing: 0.1em;

   color:#FFFFFF;

   margin-top: 10px;
   margin-left: 5px;
}
ul{
   display: inline-flex;
    }
.top-main{
   width: 100%;
   height: 908px;
   background-image: url(/shelter/assets/images/start-screen-background.png);
    }
.header{
   display: grid;
   grid-template-columns:auto auto;
  } 
.about{
   margin: 0px;
   height: 588px;
   background: #FFFFFF;
}
.pets{
   height: 877px;
   background: #F6F6F6;
   margin-top: 0px;
}
.help{
   height: 530px;
   background: #FFFFFF;
}
.donation{
    height: 464px;
    background: #F6F6F6;
}
.footer{
   height: 355px;
   background-image: url(/shelter/assets/images/footer-background.png);
   }
.name-logo{
   margin-top: 38px; 
}
.nav-menu{
   margin-top: 60px; 
   text-align: right;
}
.nav-items{
   width: fit-content;
   padding-bottom: 3px;
   padding-left: 0px;
   margin-left: 18px;
}
.start-screen{
   display: grid;
   grid-template-columns: auto auto;
   margin-top: 48px;
}
div.start-screen>div.info>h2{
   width: 310px;  

   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 44px;
   line-height: 130%;

   color: #FFFFFF;
}
div.start-screen>div.info{
   margin-top:126px;
}
p{
   margin-top:46px;
   width:92% ;

   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 160%;

   color: #CDCDCD;

}
.btn{
   width: 207px;
   height: 52px;
   border: 2px solid #F1CDB3;
   border-radius: 100px;
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 17px;
   line-height: 130%;
   letter-spacing: 0.06em;
   color: #292929;
   margin-top: 28px;
   }
.btn:hover{
   background-color: #FDDCC4;
   border: none;  
   cursor: pointer;
}
.btn-primary{
   background: #F1CDB3;
}
div.about>div.wrapper{
   display: grid;
   grid-template-columns: 50% 50%;
   }
.img-about-pets{
   margin-left: 175px;
   margin-top: 80px;
}
div.about>div.wrapper>div.info>h2, div.donation>div.wrapper>div.info>h2 {
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;

   color: #545454; 

   width: 370px;
   margin-top: 20px;
   }
div.about>div.wrapper>div.info{
   margin-left: -5px;
   margin-top: 75px;
}
div.about>div.wrapper>div.info>div.text{
 margin-top:-20px;  
}
div.text>p{
   margin-bottom: -16px;
   width: 70%;

   color: #4C4C4C;
}

div.pets>div.wrapper{
   display: grid;
   grid-template-rows:26.7% 49% auto ;
}
.slide{
   display: grid;
   grid-template-columns: 5% 30% 30% 30% 5%;

}
div.pets>div.wrapper>button{
  margin:5.3% auto;
  width:260px;
}
.slide-items{
   background-color: #FAFAFA;
   border-radius: 9px;
   width: 75%;
   margin-left: 12.5%;
   text-align:center;

}
div.slide>button.slide-nav{
   margin: auto 0;
   border: 2px solid #F1CDB3;
   box-sizing: border-box;
   border-radius: 100px;
   height:12%;
   width:85%;
}
.pet-name{
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 0.06em;
   color: #545454;
   margin: 7% auto;
}
.btn-secondary{
   margin-top: 4.5%;
   width: 70%;
}
div.pets>div.wrapper>h2 , div.help>div.wrapper>h2 {
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 35px;
   line-height: 130%;

   align-items: center;
   text-align: center;
   letter-spacing: 0.06em ;

   color: #545454;

   margin: 6.8% auto;
}
.slide-nav-next{
   transform: rotate(-180deg);
}
.slide-nav{
   padding: 0%;
}
.help-example{
   display: grid;
   grid-template-rows: auto auto;
}
.first-row-help{
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20%;
   }
.second-row-help{
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
 }
.help-items{
margin:0 auto;
}
.help-name{
   width:100%;
   font-family: Georgia;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 115%;

   letter-spacing: 0.06em;

   color: #545454;
   }
div.donation>div.wrapper{ 
   display: grid;
   grid-template-columns: 54% auto;
}
div.donation>div.wrapper>img{
   margin: 14% 0 auto auto ;
}
div.donation>div.wrapper>div.info{
   margin: 11% 5%;
   width: 75%;
}
div.donation>div.wrapper>div.info>h2{
   width: 70%;
   margin-bottom: 5%;
}
div.donation>div.wrapper>div.info>span{
font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 110%;

letter-spacing: 0.06em;

color: #545454;
}
div.donation>div.wrapper>div.info>p{
font-family: Arial;
font-style: italic;
font-weight: normal;
font-size: 12px;
line-height: 150%;
margin-top: 4.5%;
color: #B2B2B2;
}
.card{
margin-top: 4.2%;
display: flex;
height: 13%;
width: 85%;
background: #F1CDB3;
border-radius: 9px;
}
a.card>span{
font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #545454;
margin: auto auto auto 5%;
}
a.card>img{
margin-left: 5%;
}
a.card:hover{
   border: none;
   background: #FDDCC4;
}
