* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
  transition: background-image 1s ease-in-out;
  background-repeat: no-repeat;
}

.weather {
  display: flex;
  align-items: baseline;
}

.weather-city {
  width: 300px;
  height: 160px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.weather-info {
  font-size:  2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.temp {
  display: flex;
}

.temperature {
  font-size: 1.5rem;
  padding: 0px 0px 5px 10px;
}

.city {
  font-size: 2rem;
}

.time-name {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 40px;
}

.wrapper-quote {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 0;
}

.time {
  font-size:  9rem;
  font-family: monospace;
}

h1 {
  margin: 20px 0px 20px 0px;
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.name {
  min-width: 10px;
  display: inline-block;
}

.name:hover, .focus:hover, .city:hover {
  text-shadow:rgb(33, 112, 126) 5px 0 5px;
}

.slider {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 70px solid purple;
    border-bottom: 35px solid transparent;
    transition: transform 0.1s;
}

.slider-right {
  transform: rotate(180deg);
}

.slider:hover {
  opacity: 0.9;
  transform: scale(1.2);
  
}

.slider-right:hover {
  transform: scale(1.2) rotate(180deg);
}

.quote {
  width: 500px;
  height: 200px;
  font-size: 1.2rem ;
  margin: 0;
  border-radius: 1em;
  color: rgba(217,217,217);
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
.quote figcaption {
  text-align: right;
}

.btn {
  width: 30px;
  height: 30px;
  border: 0;
  margin: 5% auto;
  background-color: purple;
  transition: transform 0.8s;
}

.btn:hover {
  filter: grayscale(.5);
  transform: rotate(-180deg) scale(1.5);
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn:active{
  transform: scale(1.5)
}

.error-city {
  color: red;
  font-size: 14px;
  display: none;
}
.data{
  font-size: 1.5rem;
}

@media (max-width: 850px) {
  .weather {
    align-items: center;
    margin-bottom: 60px;
  } 

   .error-city {
    font-size: 1rem;
  }

  .city {
    font-size: 2rem;
  }
  .data{
    font-size: 1rem;
  }
  .owf {
    font-size: 3rem;
  }

  .temperature {
    font-size: 1rem;
  }

  .weather-city {
    width: 150px;
    height: 50px;
    font-size: 1rem;
  }

  .weather-info {
    font-size: 1rem;
    margin: auto;
    }

  .wrapper {
    margin: auto;
  }
h1{
  font-size: 1.5rem;
  margin: 10px;
}
h2{
  font-size: 1.5rem;
}
  .slider {
    border-top: 15px solid transparent;
    border-right: 25px solid purple;
    border-bottom: 15px solid transparent;
    display: flexbox;
    margin: 20px auto;
    order: 2;
  }

  .btn {
    width: 20px;
    height: 20px;
    border: 0;
    background-color: purple;
    transition: transform 0.8s;
  }
  .quote{
    width: 320px;
    font-size: 1rem;
  }
  .time-name {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
  }
    .time {
    font-size: 4rem;
    margin: auto;
  }
  .time-name>.wrapper{
    display: flexbox;
    width: 100vw;
  }
}
