@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .btn-global {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px;
    grid-template-areas:
      'deaths-change-inf'
      'deaths-change-coef';
  }
}

@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-gap: 8px;
    grid-template-areas:
      'head head head head head'
      'glCase map map map glDeath '
      'caseBy map map map glDeath '
      'caseBy map map map glDeath '
      'caseBy map map map recover '
      'caseBy graph  graph  graph  recover '
      'caseBy graph  graph  graph  recover '
      'foot foot foot foot foot';
  }
  .cases-by{
  grid-template-rows: auto 1fr;
  gap: 5px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
  body{
    height: 100%;
  }
  .container {
    height:800px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-gap: 5px;
    grid-template-areas:
      'head head head head head '
      'glCase map map  map map '
      'caseBy map map map map '
      'caseBy map map map map '
      'caseBy glDeath glDeath  recover recover '
      'caseBy glDeath glDeath  recover recover '
      'caseBy graph  graph graph  graph '
      'caseBy graph  graph graph  graph '
      'foot foot foot foot foot';
  }
  .btn-global {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3px;
    grid-template-areas:
      'deaths-change-inf deaths-change-coef';
  }
}
