.email{
  height: 38px;
  background-color: transparent;
  border: 1px solid #666666;;
  outline-style: none;
  font-family: Roboto;
  font-size: 1rem;
  line-height: 0.5rem;
  padding: 10px;
}
.email-form button{
  width: 120px;
  height: 60px;
  border-radius: 0px 5px 5px 0px;
}
.email-form{
  width:480px;
  display:grid;
  grid-template-columns: auto 120px;
  margin: 30px auto;
}
