nav-bar{
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
}
.logo{
  border: none;
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  font-family: Roboto;
  font-size: 1rem;
}
.header{
  height: 779px;
  background-image: url(../header.png);
  background-size: cover;
}

.ul-nav, .social-net{
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content:flex-end;
}
.ul-nav li{
  margin-left: 30px;
}
.search-li{
  width: 35px;
}
.search-li img:hover{
  width: 30px;
}
.donate p{
  margin-bottom: 50px;
}
.donate{
  margin-top: 60px;
  width: 300px;
}
.content{
  height: 1300px;
  background: #CCCCCC;
}
.footer{
  height: 360px;
  background-image: url(../footer.jpg);
  background-size: cover;
}
.footer nav-bar {
  padding-top: 150px;
}
.social-net li a:hover{
  opacity: 0.5;
  border: none;
}
