.articles{
  margin: 0;
  display: flex;
  flex-flow: column;
}
.articles h2{
  margin-top: 150px;
  color: #333333;
  text-align: center;
}
.articles span{
  font-size: 1rem;
  line-height: 0.6rem;
  text-align: center;
  color: #666666;
}
.swiper-slide{
  width: 200px;
  line-height: 0.6rem;
  text-align: center;
 }
.swiper-slide h4{
  margin-top: 250px;
  font-size: 1rem;
  color: #F7F7F7;
}
.swiper-slide span{
  font-size: 0.7rem;
  color: #F7F7F7;
}
.swiper-container {
  width: 100%;
  margin: 100px 0 240px;
  height: 360px;
}
.swiper-button-next, .swiper-button-prev{
  color: #666666;
}


