@import 'bootstrap/dist/css/bootstrap.min.css';

$font-familyENG :'Nerko One', cursive;
$font-familyRU: 'Caveat', cursive;
html {
  font-size: 18px;

}


#main{
  top:70px;
  position: relative;
}

#pageContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
//CARD//
.card{
  margin: 1rem;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);;
  border: 4px solid rgb(78, 76, 76) ;
  color: rgb(36, 31, 42);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 300px;
}
.card-play{
  height: 270px;

}

.img-flip{
  right: 10px;
  top:220px;
  width: 40px;
  position: fixed;
  z-index: 99999999999999999999;
}
.card-text{
  text-align:center ;
  font-size: 1.5rem;
  font-family: $font-familyENG;
}
.play-text{
  visibility: hidden ;
}
//FlIP_CARD//
.flipped{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.front  .back {
  border: 1px solid #999;
  /*line-height: 260px;*/
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 5%;
}
.back {
  font-family: $font-familyRU;
  font-size: 1.5rem;
  position: absolute;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
//HEADER//
.header{
  font-family: $font-familyENG ;
  position: fixed;
  width:100%;
  height: 70px;
  background-color: #232323;
  z-index: 9999;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
 }
.game-header{
    background-color: rgb(24, 2, 43);
  }
//NAV//
#menuToggle {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  padding: 6px 4px 1.5px 4px;
    a {
      text-decoration: none;
      color: azure;
      transition: color 0.3s ease;

    }
    a:hover {
      color: rgb(224, 158, 219);
    }
    input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: rgb(199, 5, 176);
      border-radius: 1px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
      &:first-child
      {
        transform-origin: 0% 0%;
      }
      &:nth-last-child(2)
      {
        transform-origin: 0% 100%;
      }
      &:nth-last-child(2)
      {
        transform-origin: 0% 100%;
      }
    }
    input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #13aff0;
    }
    input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    input:checked ~ ul
    {
      transform: none;
    }
}
ul {
  height:100%;
  width: 300px;
  margin: 0px -30px;
  padding: 50px;
  padding-top: 75px;
  padding-bottom: 20px;
  background: #232323;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  position: fixed;
  vertical-align: middle;
  color: azure;
    li
      {
        padding: 10px 0;
        padding-left: 10px;
        font-size: 1.5rem;
        &:hover{
          margin-left: -50px;
          padding-left: 60px;
          width: 300px;
          background-color: rgba(108, 196, 199, 0.431);
        }
      }

}
.currentPage{
  border-bottom: 2px dashed orange;
}
//SCALE//
#scale{
  background-color: brown;
  border-top: 10px solid orchid;
  height: 40px;
  width: 310px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  .star{
   margin: 5px;
   width: 20px;
   height: 20px;
  }
  .empty-star{
   margin: 5px;
   width: 20px;
   height: 20px;
  }
}

//SWITCH//
.switcher-switch {
  background:rgb(233, 170, 224);
  width: 80px;
  height: 30px;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin:20px 10px;

  &:after {
    content: " ";
    display: block;
    width: 40px;
    height: 30px;
    background-color: rgb(17, 238, 135);
    transition: all 0.2s ease-in-out;
  }

  .active & {
    &:after {
      margin-left: 40px;
    }
  }
}

.switcher-label {
  display: inline-block;
  line-height: 30px;
  color: aliceblue;
  margin: 5px;
}
.mode{
  color: rgb(17, 238, 135);
}
//BUTTON//
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}
.btn {
  margin: auto ;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: orchid;
  font-size: 1.8rem;
}