@import 'bootstrap/dist/css/bootstrap.min.css';

$font-familyENG :'Nerko One', cursive;
$font-familyRU: 'Caveat', cursive;
html {
  font-size: 20px;
}


#pageContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
//CARD//
.card{
  margin: 1rem;
  background-color: #dfdea1;
  border: 4px solid rgb(78, 76, 76) ;
  color: rgb(36, 31, 42);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card-text{
  text-align:center ;
  font-size: 2rem;
  font-family: $font-familyENG;
}
//FlIP_CARD//
.flipped{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.front  .back {
  border: 1px solid #999;
  /*line-height: 260px;*/
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 5%;
}
.back {
  font-family: $font-familyRU;
  font-size: 1.5rem;
  position: absolute;
  background: rgb(144, 190, 146);
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
//NAV//
// nav{
// padding: 0.5vh;
// }
// .navbar-toggler.toggler-example {
// cursor: pointer;
// }
// .dark-blue-text {
// color: #0A38F5;
// }
// .dark-pink-text {
// color: #AC003A;
// }
// .dark-amber-text {
// color: #ff6f00;
// }
// .dark-teal-text {
// color: #004d40;
// }
// .navbar-collapse{
// display: flex;
// flex-flow: column;
// justify-content: space-around;
// z-index:9999;
// font-size: 3rem;
// background-color: #AC003A;
// position: absolute;
// top:0px;
// left:0;
// height: 100vh ;
// width:300px;
// }