.post-item{
  width: 95%;
  background-image: linear-gradient(-20deg, #f5f7fa 0%, #c3cfe2 100%);
  margin: 10px 0;
  padding: 10px;
}
.post-likes{
  text-align: right;
}
.post-img{
  max-width: 100px;
}
