{
    "parser": "babel-eslint",
    "rules": {
      "no-unused-vars": "warn",
      "no-global-assign":"warn"
    },
    "env": {
      "es6": true,
      "browser": true
    },
    "extends": [
      "eslint:recommended"
    ]
  }