.back-img{
  width: 100%;
  height: 100px;
  object-fit:cover;
}
.profile-photo{
  width:200px;
  height:200px;
  object-fit:cover;
  margin: 0;
  border-radius: 50%;
  border: 10px double rgb(184, 134, 184);
}
.profile-info{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.profile-name{
  font-size: 2rem;
  font-weight: bold;
  font-variant: small-caps;
}
