/* variables */
:root{
  --blur: 0px;/*from 0 to 10*/
  --saturate:1;/*from 0(b/w) to 1(normal) to inf*/
  --invert:0;/*from 0 to 1*/
  --hue-rotate:0deg;/*from 0 to 360*/
  --sepia:0;/*from 0 to 1*/
  --brightness:1;/*from 0(black) to 1(normal) to inf*/
}
.content{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.img-box{
  display: grid;
  grid-template-columns: 1fr 5fr;
}
canvas{
  max-width: 500px;
  filter:blur(var(--blur)) saturate(var(--saturate))
        invert(var(--invert)) hue-rotate(var(--hue-rotate))
         sepia(var(--sepia)) brightness(var(--brightness));
}
#fileInput{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
.btn {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    display: block;
    font: 14px/50px Tahoma;
    border: 1px solid #0f0f0f;
    color: #050505;
}
.btn:hover {
   background-color: rgb(183, 168, 197);
}