@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('./assets/styles/_btn.css');
@import url('./assets/styles/_head&foot.css');

html{
font-family: Open Sans;
font-size: 23px;
font-weight: 400;
line-height: 60px;
color: #F7F7F7;
font-style:normal;
font-weight: normal;
}
body{
  width: 100%;
  margin: 0;
  padding: 0;
}
div{
  margin: 0;
  display: flex;
  flex-flow: column;
}
a{
  text-decoration: none;
  color: #F7F7F7;
}
a:hover{
  border-bottom: 2px solid #F7F7F7;
}
.wrapper{
  max-width: 1200px;
  margin: auto;
}
h2{
  font-size: 2rem;
  line-height: 1.2rem;
  letter-spacing: 2px;
  color: #CD6326;
}
p{
  font-size: 0.8rem;
  line-height: 1rem;
}